@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav ul{
    display: flex;
    gap: 35px;
    list-style-type: none;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px ;
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 170px;
    gap: 40px;
    position: relative;
}

.go{
    background-color:#F0EFEB ;
}

.ho{
    position: absolute;
    /* z-index: -1; */
    right: 400px;
    width: 500px;
    /* height: 521px; */
    top: 20px;
}

main h1{
    font-size:60px ;
    padding-left: 150px;
}

 .to{
    padding-left: 150px ;
}

main p{
    padding-left: 150px;
}