body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}


input[type="text"]{
    border: 2px red solid;
    border-radius: 10px;
    color: red;
    outline: none;
}
input[type="password"]{
    border: 2px brown solid;
    color: brown;
    outline: auto;
}

input[type="email"]{
    border: none;
    border-bottom: 1px dashed red;
    outline: none;
}

