body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #box {
    width: 80px;
    height: 80px;
    background-color: #4b9cd3;
    transition: top 0.2s ease, left 0.2s ease;
    
  }
  