*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.parent{
    display: grid;
    grid-template-columns: repeat(3, 300px) ;
    grid-template-rows: 500px;
    
}

.right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
    background-color: hsl(31, 77%, 52%);
}

.right{
    gap: 50px;

}
.right button {
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 150px;
    background-color: hsl(0, 0%, 95%);
    
}

.right p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 20px;
}

.right button b{
    color: hsl(31, 77%, 52%);
}

.right h1{
    color: #fff;
}



.center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
    background-color: hsl(184, 100%, 22%);
    gap: 50px;
}


.center button {
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 150px;
    background-color: hsl(0, 0%, 95%);
    
}

.center p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 20px;
}

.center button b{
    color: hsl(184, 100%, 22%);
}

.center h1{
    color: #fff;
}




.left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
    background-color: hsl(179, 100%, 13%);
    gap: 50px;
}


.left button {
    font-size: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 150px;
    background-color:#fff;
    
}

.left p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 20px;
}

.left button b{
    color: hsl(179, 100%, 13%);
}

.left h1{
    color: #fff;
}


@media screen and (max-width:1100px) {
    

    .left{
        grid-row-start: 3;
    }

    .parent{
        grid-template-columns: 300px;
        grid-template-rows: 1fr 1fr 1fr ;
    }


    .center{
        grid-row-start: 2;
    }
}