#hh{
    background-color:rgb(182, 182, 182) ;
    font-size: 20px;
    color: red;
}
body{
    background-color: black;
    text-align: center;
}
.JJ{
    background-color: beige;
    font-size: 10px;
    color: blanchedalmond;
}